## extensions
*.*
!*.js
!*.json
!*.md
!*.yml

!/.github/

## same as in .gitignore
# dependencies
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.env*
